section {
    padding: 5em 0;
    min-height: 100vh;
}

#hero {
    padding: 10em 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    display: flex;
    max-width: 1000px;
    justify-content: center;
}

.splash ul li {
    text-align: left;
}

#profile-pic {
    display: block;
    background-color: turquoise;
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.home-menu {
    width: 100%;
    color: black;
    padding: 0.5em;
}

.home-menu ul {
    float: right;
}

.pure-menu .pure-menu-heading {
    color: black;
}

.pure-menu-heading, .pure-menu-link {
    padding: 0.5em 1em;
}

#intro-header {
    width: 50%;
    padding: 2em 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#development {
    background-color: #ffe0ac;
}

/* gallery */
.pure-g > div {
    box-sizing: border-box;
}

.gallery {
    margin: auto;
    max-width: 950px;
}

.gallery-img {
    margin: 0 auto;
    padding: 0.5em 0;
    border-radius: 15%;
}

.image {
    border: none;
    background: none;
}

#about-splash {
    padding: 2em;
}

#about {
    background-color: aquamarine;
}

.modal-header {
    display: block;
}

.modal-header .btn-close {
    width: 100%;
    margin: 0 auto;
}